{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Добавление новости{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <div class="features">
      <h1>Напишите новость!</h1>
      <form method="post">
        {% csrf_token %}
        {{ form.title }}
        {{ form.subtitle }}
        {{ form.text }}
        {{ form.date }}
        <div class="error">
          <span>{{ error }}</span>
        </div>
        <button type="submit" class="btn">Добавить запись</button>
      </form>
    </div>
{% endblock %}
