{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Удаление статьи{% endblock %}
{% block content %}
  <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <div class="features">
      <h1>Удаление</h1>
      <div class="details">
        <h1>{{ articles.title }}</h1>
        <h3>{{ articles.subtitle }}</h3>
        <p>{{ articles.text }}</p>
        <p>{{ articles.date }}</p>
      </div>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn">Удалить запись</button>
      </form>
    </div>
{% endblock %}
