{% extends 'main/layout.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<div class="features">
  <h1>Главная страница</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. A perferendis
    reprehenderit eligendi, possimus non molestias! Omnis quae velit laudantium
    officia possimus aliquam voluptatum? Fugit doloribus ea voluptatum amet,
    quia reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
    maxime distinctio et quae nemo laboriosam ratione, earum, reprehenderit sequi illum
    pariatur? Repudiandae id nesciunt facilis distinctio. Beatae consequatur sint maiores.
    Cupiditate atque necessitatibus architecto quos excepturi maiores reprehenderit
    deserunt recusandae, sit consequuntur ad consequatur, libero quasi sint adipisci
    eius natus! Voluptatum atque mollitia sit repellendus laborum rerum placeat asperiores ad.
  </p>
  <button class="btn">About Us</button>
</div>
{% endblock %}
